:root {
    --sidebar-width: 12rem;
}

body {
    margin: 0;
}

aside {
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    background: blue;

}

main {
    display: flex;
    background-color: hotpink;
    flex-direction: column;
    padding: 1rem;
    margin-left: var(--sidebar-width);

}